*{
    box-sizing: border-box;
}
html, body
{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: sans-serif;
    font-weight:bold;
    overflow: hidden;
    /* text-shadow: 1px 1px 1px black; */
}

.color1
{
    background-color: #001dbe;
    color: white;
}

.color2
{
    background-color: #cacfff;
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px px white;
    font-weight: bold;
}
.color3{
    background-color: #007090;
    color: white
}
.color4{
    background-color: #004261;
    color: white
}

.pad5{
    padding: 5px;
}

h1{
    margin: 0;
    color: white;
}
h2{
    margin: 0;
}
h3{
    margin: 0;
}
h4{
    margin: 0;
}

.larger{
    font-size: 1.5rem;
}

.header{
    padding: 2px;
    background-color: black;
}

.hidden{
    display: none;
}
.no-pointer
{
    pointer-events: none;
}

.main{
    display: grid;
    background-color: black;
    height: 100%;
    grid-template-columns: 300px auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "sidebar content";

}

.side.panel
{
    padding:3px;
    grid-area: sidebar;
    color: white;
}

.panel-row{
    margin-top: 4px;
    margin-bottom: 4px;
}
.panel-group{
    padding: 4px;
}

.content
{
    grid-area: content;
}
.content-title{
    padding: 2px;
}

.content-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
    padding: 2px;
}
.content-header{
    height: 35px;
}
.content-body{
    height: 100%;
}

.combo{
    width: 70px;
    font-size: 1.2rem;
    background-color: white;
    box-shadow: 1px 1px 1px black;
    border-radius: 5px;
}

.combo-wide{
    width: 210px;
    font-size: 1.2rem;
    box-shadow: 1px 1px 1px black;
    border-radius: 5px;
    margin: 2px;
    padding: 2px;
    outline: none;
}

.drag-list
{
    list-style: none;
    color: black;
    padding: 0px;
    overflow-y: scroll;
    max-height: 470px;
}

.drag-list > li
{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: white;
    border: 1px solid black;
    text-shadow: none;
    padding: 4px;
    margin: 2px;
    height: 45px;
}

.drag-list > li.selected{
    background-color: rgb(20, 150, 0);
    color:white;
    font-weight: bold;
}

.drag-list > li.highlight
{
    background-color: cornflowerblue;
    color:white;
    font-weight: bold;
}

.drag-list > li:hover{
    background-color: cornflowerblue;
    color:white;
    font-weight: bold;
}

.desk-layout{
    position: relative;
    height: 100%;
    width: 100%;
}

.icon-row{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 15px;
    width: 100%;
}

.icon{
    text-align: center;
    font-weight: bold;
    border: 1px solid black;
    font-size: .7rem;
    width: 15px;
    height: 15px;
}

.desk{
    text-align: center;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    
    background-color: wheat;
    color: black;
    box-shadow: 1px 1px 2px black;
    
    border-radius: 5px;
    overflow: hidden;
    z-index: 1;

    width: 120px;
    height: 120px;
    font-size: 16px;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.desk.interactive{
    background-color: rgba(0, 212, 212, 0.5);
    z-index: 10;
}

.desk.highlight{
    background-color: cornflowerblue;
    color: white;
    text-shadow: 1px 1px 2px black;
    font-weight: bold;
}
.desk.highlight-alt{
    background-color: rgb(100, 237, 118);
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.desk.selected{
    background-color: rgb(40, 200, 0);
    color: white;
    text-shadow: 1px 1px 2px black;
    font-weight: bold;
}

.desk-icon{
    position: absolute;
    width: 20px;
    height: 20px;
    padding: 0;
    font-weight: bold;
    
}

.desk-icon.desk-delete{
    right: 0;
    top: 0;
    /* background-color: red; */
    padding: 0;
    background-image:url(trash.svg);
    background-size: cover;
    background-color: red;
    
}
.desk-delete:hover{
    background-color: rgb(143, 0, 0);
 }
 

.desk-icon.desk-clear{
    right: 0;
    bottom: 0;
    background-image:url(clear.svg);
    background-size: cover;
    background-color: rgb(0, 0, 255);
}
.desk-clear:hover{
    background-color:  rgb(0, 0, 150);
    font-size: 1.0rem;
 }


.desk-icon.desk-swap{
    left: 0;
    bottom: 0;
    background-image:url(swap.svg);
    background-size: cover;
    background-color: rgb(0, 150, 50);
}
.desk-swap:hover{
    background-color:  rgb(0, 120, 20);
    font-size: 1.0rem;
 }


.desk-icon.desk-number{
    top: 0;
    left: 0;
    font-size: 1rem;
}


button{
    display: block;
    background-color: white;
    /* border-top: 2px solid white;
    border-bottom: 2px solid black;
    border-left: 2px solid white;
    border-right: 2px solid black; */
    border:none;
    outline: none;
    font-weight: bold;
    font-size: .9rem;
    margin: 2px;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 1px 1px 1px black;
}
button:active
{
    box-shadow: none;
}

button.color1:hover
{
    background-color: #344888;
    font-size: 1rem;
}

button.color1:active
{
    background-color: #344888;
    /* border-top: 2px solid black;
    border-bottom: 2px solid white;
    border-left: 2px solid black;
    border-right: 2px solid white; */
}

button.med{
    width: 150px;
    height: 40px;
}

button.sm{
    width: 90px;
    height: 25px;
    font-size: .8rem;
}

button.square{
    width:30px;
    height:30px;
}

button.push-active{
    background-color: darkgray;
    /* border-top: 2px solid black;
    border-bottom: 2px solid white;
    border-left: 2px solid black;
    border-right: 2px solid white; */
}
.labeled-edit.med{
    padding: 2px;
    margin: 2px;
}
.labeled-edit.med>label{
    font-weight: bold;
}
.labeled-edit.med>input{
    width: 70px;
    height: 40px;
    font-size: 1.1rem;
}
.info.med{
    margin: 2px;
    width: 100px;
}

.ctrl-group{
    display: flex;
    flex-direction: row;
}



.nav-combo{
    position: absolute;
    width: 200px;
    margin: 5px;
    background-color: rgb(0, 132, 255);
    box-shadow: 1px 1px 2px black;
    z-index: 2;
}
.nav-open{
    margin: 0;
    border-radius: 0;
    border:none;
    box-shadow: none;
}
.nav-open{
    cursor: pointer;
}

.nav-current{
    font-size: 1.2rem;
    color: white;
    background-color:rgb(0, 91, 175);
    text-shadow: 1px 1px 2px black;
    width: 100%;
    height: 25px;
    padding: 1px;
}

.nav-options > a{
    display: block;
    text-decoration: none;
    color:white;
    padding: 3px;
}

.nav-options > a:hover{
   background-color: rgb(185, 221, 255);
   color: black;
}

.nav-options.collapsed{
    display: none;
}

.nav-combo > .nav-open{
    position: absolute;
    top: 0;
    right: 0;
    width: 25px;
    height: 25px;
}

table.report{
    border: 1px solid black;
    box-shadow: 2px 2px 6px black;
    border-collapse: collapse;
    table-layout: fixed;
    margin: 5px;
}

table.report > tr, td, tr > th{
    border: 1px solid black;
    width: 100px;
    padding: 5px;
}

.property-field{
    width: 120px;
    text-align: right;
}
.value-field{
    width:400px;
}