*{
    box-sizing: border-box;
}
html, body
{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: sans-serif
}

.color1
{
    background-color: #001dbe;
    color: white;
}

.color2
{
    background-color: #001dbe;
    color: white;
}

h1{
    margin: 0;
    color: white;
}
h2{
    margin: 0;
}
h3{
    margin: 0;
}

.header{
    padding: 2px;
    background-color: black;
}

.hidden{
    display: none;
}

.main{
    display: grid;
    background-color: black;
    height: 100%;
    grid-template-columns: 300px auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "sidebar content";

}

.side.panel
{
    padding:3px;
    background-color: blue;
    grid-area: sidebar;
    color: white;
}
.content
{
    background-color: white;
    grid-area: content;
}
.content-title{
    color: white;
    background-color: royalblue;
    padding: 2px;
}

.content-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
    padding: 2px;
}


.drag-list
{
    list-style: none;
    color: black;
    padding: 0px;
}

.drag-list > li
{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: white;
    border: 1px solid black;
    padding: 4px;
    margin: 2px;
}

.drag-list > li.highlight
{
    background-color: cornflowerblue;
    color:white;
    font-weight: bold;
}


.desk-layout{
    position: relative;
    background-color: teal;
    height: 100%;
    width: 100%;
}

.icon-row{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 15px;
    width: 100%;
}

.icon{
    text-align: center;
    font-weight: bold;
    border: 1px solid black;
    font-size: .7rem;
    width: 15px;
    height: 15px;
}

.desk{
    text-align: center;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 125px;
    height: 125px;
    background-color: wheat;
    box-shadow: 1px 1px 2px black;
    border-radius: 5px;
    overflow: hidden;
    z-index: 1;
}

.desk.interactive{
    background-color: rgba(28, 70, 70, 0.5);
    z-index: 10;
}

.desk.highlight{
    background-color: cornflowerblue;
    color: white;
    font-weight: bold;
}

.desk.selected{
    background-color: rgb(40, 200, 0);
    color: white;
    font-weight: bold;
}

.desk-delete{
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    height: 20px;
    background-color: red;
    color:white;
}
.desk-clear{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 20px;
    height: 20px;
    background-color: rgb(220, 150, 0);
    color:white;
}
.desk-number{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 20px;
    height: 20px;
}


button{
    display: block;
    background-color: white;
    border-top: 2px solid white;
    border-bottom: 2px solid black;
    border-left: 2px solid white;
    border-right: 2px solid black;
    font-weight: bold;
    font-size: .9rem;
    margin: 2px;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 1px 1px 1px black;
}
button:active
{
    box-shadow: none;
}

button.color1:hover
{
    background-color: #344888;
    font-size: 1rem;
}

button.color1:active
{
    background-color: #344888;
    border-top: 2px solid black;
    border-bottom: 2px solid white;
    border-left: 2px solid black;
    border-right: 2px solid white;
}

button.med{
    width: 150px;
    height: 40px;
}

button.push-active{
    background-color: darkgray;
    border-top: 2px solid black;
    border-bottom: 2px solid white;
    border-left: 2px solid black;
    border-right: 2px solid white;
}
.labeled-edit.med{
    padding: 2px;
    margin: 2px;
}
.labeled-edit.med>label{
    font-weight: bold;
}
.labeled-edit.med>input{
    width: 70px;
    height: 40px;
    font-size: 1.1rem;
}
.info.med{
    margin: 2px;
    width: 100px;
}